*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hide{
    display: none;
}

.home{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url('https://pixner.net/begam/images/banner-bg.png');
}

.homeImage{
    position: absolute;
    bottom: 0;
    right: 3%;
}

.homeContainer{
    /* background: red; */
    height: 85vh;
    min-width: 100vw;
    margin: 0;
    position: relative;
}

.homeContainer .p1{
    margin: 0;
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 4.8rem;
    text-align: center;
    color: white;
}

.homeContainer .p2{
    position: absolute;
    margin: 0;
    top: 49%;
    left: 5%;
    width: 50%;
    color: lightcyan;
    font-size: 1.5rem;
    text-align: center;
}
#browse{
    position: absolute;
    top: 70%;
    left: 19%;
    color: white;
    cursor: pointer;
    background: #4525D6;
    border: 1px solid white;
    border-radius: 20px;
    height: 10vh;
    width: 20vw;
    font-size: 1.5rem;
}
