 .game3 {
    height: 300vh;
    width: 100%;
    background-size: cover;
    background-image: url('https://pixner.net/begam/images/banner-bg.png');
}

.game3Container{
    background-color: #1d0f6b93;
    border: 3px solid #4525D6;
    width: 30%;
    margin: 0 auto;
    height: 80vh;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containerr {
    max-width: 90%;
    margin: 70px auto 0 auto;
    padding-top: 30px;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    cursor: pointer;
    border-radius: 30px;
    transition: background 0.3s;
}

.game3Container h1{
    text-align: center;
    color: white;
}
.hide{
    display: none;
}

.page3{
    height: 50%;
    /* margin: 0 auto; */
}

.game3banner{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 0 20px;
}
.page2{
    height: 100%;
    border-radius: 15px;
}

.question{
    font-size: 2rem;
    text-align: center;
    color: white;

}
.page3 button{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    padding: 7px;
}
.page1{
    height: 30%;
}
.page1 button{
    display: flex;
    margin-top: 50px;
}

.fill {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  width: 40%;
  margin: 0 auto;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
}

.fill::after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
}